manifest {
    description = 'METAXSFR external config'
    mainScript = 'main.nf'
}

params {
    executor = "local"
    results_directory = "results"
}

process {
    executor = "${params.executor}"
}

timeline {
    enabled = true
    file = "${params.results_directory}/timeline.html"
    overwrite = true
}
trace {
    enabled = true
    file = "${params.results_directory}/trace.txt"
    overwrite = true
}
